/********** FILE IMPORTS **********/
/*************************************/

@import url('bootstrap.min.css');
@import url('bootstrap-override.css');
@import url('font-awesome.min.css');
@import url('fonts.css');


html, body {
	background-color: #303133;
	color: #efefef;
	font-family: 'LatoRegular', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'LatoRegular', sans-serif;
}


a {
    color: #8f9948 !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}